//Placeholders and classes: ;
///Button placeholder
%btn {
	border-radius: 50%;
	text-decoration: none;
	padding: 5%;
	margin: 10px;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
}

%fonticons {
	color: map-get($color, light); /*hämtar färg från karta*/
	font-size: 2em;
	margin: 0.1em;
}

%borders { 
	border:solid  5px black;}