//Placeholders and classes: ;
///Button placeholder
%btn {
	border-radius: 50%;
	text-decoration: none;
	padding: 5%;
	margin: 10px;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
}

%fonticons {
	color: rgb(153, 167, 226);
	font-size: 2em;
	margin: 0.1em;
}