nav{
    width:95%;
    height:100%;
    text-align: center;
}

.nav-container li{
    height: 40px;
    line-height: 40px;
}

.nav-container li:nth-child(1){
    background-color: orange;
}
.nav-container li:nth-child(2){
    background-color: #17C0DA;
}
.nav-container li:nth-child(3){
    background-color: #066758;
}
.nav-container li:nth-child(4){
    background-color: purple;
}
.nav-container li:nth-child(5){
    background-color: grey;
}
.nav-container li:nth-child(6){
    background-color:Yellow;
}

.container

  {
    display: flex;
    flex-direction: column;  /*gör så att flödet lägger sig i column på mobilen*/
    justify-content: center;
    width: 100%;
    /*margin:50px;*/ /*lägger man till margin så hamnar containern fel, något åt vänster*/
    padding: 10px;
    color: #B39595;
    background-color: #DED7D7 ;
    align-content: center;

  }
  .page
  
  {
  
      display: flex;
      flex-direction: row;
      
  
  }
  
  aside
  
  {
      
      background-color: gray;
      color: white;
      width: 30%;
  
  }
  
  
  .card

  {
    display: flex;
    flex-direction: column;
    width: 50%
      
      
/*       kan inte lägga in align-self:center; eller justify-content: center for att centrera innegållet. När man testar blir carden på olika rader  */
    

        
}  


.card img
{
/*margin: 20px; */
align-self: center;
width:100%;
height: auto;

}
.card:nth-child(1)

{
  background-color: #F3D59A;
  margin-bottom: 5%; 
  padding: 10px;
  align-self: center;
  /*padding eller margin funkar inte på card 1 och 2. varför?*/
    

  
}

.card:nth-child(2)

{
  background-color: #C7C7EF;
  margin-bottom: 5%; 
  padding: 10px;
  align-self: center;
  /*padding eller margin funkar inte på card 1 och 2. varför?*/
}

.card:nth-child(3)

{
  background-color: #F4BAF4;
  width: 100%;
  align-self: center;
  margin-bottom: 5%;
  padding: 10px;
  
  
}

  .header

  {
    font-size: 120%; 
    font-weight: 700; 
    margin: 5px;
    
    
  }
  

  
    .contact

  {
    margin: 5px;
    display: flex;
    
  }
  
  .left
  
  {
    flex: 1;
    text-align: left;
    
  }
  
  
  .right
  
    {
    flex: 1;
    text-align: right;
    
  }
  .main_content  
  
  {
   text-align: center;
    
  } 

footer

{
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
  margin: 5px;
}


/* här kommer breakpointen i koden*/
@media all and (min-width: 816px) {
    /*Tecknet för mobil menyn döljs på desktop*/

.container

    {
        flex-flow:row wrap; */
        width: 50%;
        align-items: center;
       
       
     }

     /*.body

     {
        align-items:  center;
    
    }  vill att allt ska ligga i mitten av sidan men det funkar ej. hjälp?*/
    label {
        display: none;
    }





nav{
       display:flex;
       flex-direction: row-reverse;
       flex-basis: 100%;       
   }
   
    .nav-container{
        display: flex;
        flex-direction: row;
        width:70%;

    }


    .nav-container li{
        display:flex;
        text-align: center;
        display:block;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 3em;
        height:2.5em;
        line-height: 2.5em;
        margin:0;
        flex-wrap: nowrap;
    }

    .nav-container li:nth-child(1){ 
        flex-grow: 3;
    }
    .nav-container li:nth-child(2){
        flex-grow: 1;
    }
    .nav-container li:nth-child(3){
        flex-grow: 1;
    }
    .nav-container li:nth-child(4){
        flex-grow: 1;
    }
    .nav-container li:nth-child(5){
        flex-grow: 1;
    }
    .nav-container li:nth-child(6){
        flex-grow: 1;
    }

    .search-form{
        order: 2;
    }
    input[type=search]{
        width: 70%;
    }
    