* {  
    
        font-family: merriweather;
        box-sizing: border-box;
        margin:0;
        padding: 0;
    
        }                                                   /* universal selector med inställningar som gäller hela sidan, kan inte överskrivas */
    
    
    body {                                                  /* vår body med generalla inställningar som påvergar hela sidan/all inom body taggen */
        
        background-color: #e9967a;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    
        
        }
    
        ul
    
        {
            text-decoration-style: none;
        
        }
    
        li
    
        {
            text-decoration-style: none;
            
            }
    
    
        nav                                                     /* designar navigerings taggen */
        {
            text-align: center;
            background-color: #333;
            width:100%
    
            
        }
        label{
            color:red;
            line-height: 40px;
            font-size:2em;
            cursor:pointer;
          }
          
          /*Dold chekcbox som aldrig visas*/
          #nav-toggle {
            display: none;
          }
          
          /*Men som används för att dölja och visa menyn på mobilen*/
          #nav-toggle:checked + #wrapper nav {
            display: block;
          }
          
          /*Menyn döljs på mobilen som default*/
          nav {
            display: none;	
              text-transform: uppercase;
          }
          
          nav a{
              display:block;
              text-decoration: none;
              font-family: merriweather;
              font-weight: bold;
              font-size:10pt;
              color:#112233;
            
          }
          
          nav a:hover{
              background:#223433;
              color:#f0f1f5;
          }
          
          nav ul{
              list-style: none;
            opacity:0.8;
            
          }
          
          nav ul li{
            background:skyblue;
            line-height: 40px;
            padding-left:50px;
          }
          
          /*Den första undermenyn färgläggs lite annorlunda på mobilen för att kunna skiljas från övre li*/
          nav ul li ul li a{
            color:yellow;
          }
          
          /*Den andra undermenyn färgläggs lite annorlunda på mobilen för att kunna skiljas från övre li*/
          nav ul ul li ul a{
            color:white;
          }
          
          @media all and (min-width: 630px){
          /*Tecknet för mobil menyn döljs på desktop*/
            label
            {
              display:none;
            } 
            
            /*Menyn på desktoppen*/
            nav {
              height:40px;
              width:505px;/*beror på vilken bredd man satt på de enskilda li, i detta fall är de 5 li*100px+margin-right på 1px*/ 
              display:block;
              margin:0 auto; /*centrar ul inuiti naven*/
          
          }
            /*Alla ul li centreras på desktoppen*/
            nav ul{
              text-align:center;
            }  
          
           /*Menyn på desktoppen*/
          nav ul li{
              float:left;/*gör att den flyter till vänster*/
              width:100px;
              height:40px;
            margin-right:1px;
            padding:0;
          }
    
          nav ul li ul li:nth-last-of-type(1)
    
          {   
             border-radius: 0px 0px 10px 10px;
             /* gör så att sista li:en i drop down menyerna har rundade kanter */
        
        }
    
        nav ul li ul li a:hover:nth-last-child(1)
        {  
            border-radius: 0px 0px 10px 10px;
       /* försöker göra så att endast sista li får rundade hörn när man hovrar, men der funkar inte */
       }
        
        nav ul li ul li ul li a:hover:nth-last-of-type(1)  /* gör så att hörnen på li blir rundade när man hovrar övver */
        
              {   
                 border-radius: 0px 0px 10px 10px;
            
            }
          
          /*Döljer dropdown*/
          nav ul ul li{
              position:relative; /* sätter positionen till vara relativt till sin behållare*/
              display:none;
          }
          
          /*Döljer submenyn i dropdown*/
          nav ul ul ul{
              display:none;
            
          }
          
          /*Visar dropdown vid hover på ul li*/
          nav ul li:hover ul li{
              display: block;
            
          }
          
          /*Visar submenyn i dropdown*/
          nav ul ul li:hover ul{
              display:block;
              position:absolute; /*sätter positionen till att absolute mot sin förälder som är satt till att vara relativt*/
              width:200px; /*samma som ul li*/
              left:100px; /*absolute position 100px ifrån sin förälder*/
              top:0px; /*absolute position högst mot sin förälder*/
            
          }
            /*Färgen för undermenyer på desktoppen återställs*/
            nav ul li ul li a{
            color:#112233;
          }
            /*Färgen för undermenyer på desktoppen återställs*/
            nav ul ul li ul a{
            color:#112233;
          }
          }
          
    
    
        /* unvisited link */
    a:link {                                                       /* väljer färg på länken */
        color: white;
    }
    
    
    /* mouse over link */
    a:hover {                                                       /* Ändrar färg när man hoovrar över länken */
        color: #555
    
    }
    h2+h3
    {
    color:greenyellow;                                             /* byter färg på h3 som ligger efter h2 */
    
    }
    
    .syndicate                                                         /* designar bakgrunden som våra artiklar ligger på */
    {
    background-color: slategrey;
    margin: 1em;
    padding:1em;
    box-shadow: 0px 3px 1px purple;
    
    
    }
    
    
    
    .syndicate p                                                         /* designar texten i artiklarna */   
    
    {color: whitesmoke;
    padding: 0,5em;
    margin-bottom: 0,5em;
    }
    
    .syndicate h3                                                       /* designar rubrikerna i klassen syndicate */
    {
        text-align: center;
        margin: 0,5em;
    }
    
    .syndicate:nth-of-type(3n+2)
    
    {
    
        background-color:slateblue;
    
    }
    
    .blog_summary                                                       /* byter bakgrundsfärg på blog_summary */
    
    {
        background-color: hotpink;
        text-align: center;
    
    }
    
    .blog_summary li                                                    /* designar li i blog_summary */
    
    {
        list-style: none;
        margin: 0,5em;
        padding: 0,5 em;
    
    }
    
    .blog_summary a:hover                                               /* När man hoovrar över blog_summary så blir länken röd */                                            
    {
        color: red;
    }
      
    .blog_summary > p                                                    /* p i blog summary blir gul */
    {
    color:yellow;
    
    }
    
    
    .contact                                                            /* redigerar footern och lägger texten i mitten */
    {
    margin-top: 0,5em;
    text-align: center;
    
    }   
    
    .tel ~ .web                                                       /*   gör våra klasser .tel och .web vita. */
    {
    color: white;
    
    }