
main{
    width:95%;
    margin:0 auto;
}


//NAV START
.main_nav {
    width: 100%;
    font-size: 1em;
    color:map-get ($color, bright);


.triggs {
    display:none;
    position: absolute;
}

label {
    position: relative;
    cursor: pointer;
    font-size: 150%;
}


.fa-bars {
    font-size: 120%;
}

ul {
    display:none;
    margin-left: 10px;
    margin-top:10px;

        li{
            margin-top: 20px;
        }
}




ul a, ul ul a {
    color:map-get ($color, bright);
}



ul ul {
    margin-left:20px;
    margin-top:1.2em;
}

ul ul li {
    margin-left: 20px;
    margin-top: 0.3em;
}

.main_menu {
    font-size: 120%;
    margin-top: 1em;
}


.triggs:checked ~ ul, .triggs:checked ~ ul ul  {
    display: block !important;
  }


  a:hover{
    background: map-get($color, hovercolor);
  }



}






//NAV END



