// Modern border-box applied everywhere.
html {
  box-sizing: border-box;
}

// inherit box-sizing
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  list-style: none;
  text-decoration: none;
}

body {
  display: block;
  color: map-get($color-defs, text);
  background: map-get($color-defs, body);
  font-family: map-get($text, body);
  font-weight: map-get($text, body-weight);
  font-size: 1em;

  background-color: white;

  margin: 0 auto;
  text-align: center;
  max-width: 900%;
  background-color: white;
  color: grey;
}

body a:link {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  color: map-get($color, dark);
  font-family: map-get($text, cite);
  font-weight: map-get($text, cite-weight);
  font-size: map-get($text, cite-size);
  text-align: center;
  /* Desktop version */
  @include respond-to("small") {
    font-size: map-get($text, cite-size-big);
  }
}

h2 {
  font-family: map-get($text, headline);
  font-weight: map-get($text, headline-weight);
  font-size: map-get($text, headline-size);
  color: map-get($color, accent2);

  /* Desktop version */
  @include respond-to("small") {
    font-size: map-get($text, headline-size-big);
  }
}

a {
  color: map-get($color-defs, link);
}
